 body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    position: sticky;
    top: 0;
    background-color: #1e293b;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}
.menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    display: inline-block;
}
.conainer {
    display: flex;
    gap: 20px;
    padding: 40px;
}
.card {
    background-color: #f1f5f9;
    padding: 20px;
    width: 250px;

    height: 150px;
    overflow: auto;

    position: relative;
}