* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #1e293b;
    color: white;
}
.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}
.navbar a:hover {
    color: #38bdf8;
}
.hero {
    text-align: center;
    padding: 80px 20px;
    background-color: #f1f5f9;
    background-image: url(https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2F88lvz3rpqrqp1714t914.png);
}
.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

.hero button:hover {
    background-color: #1e40af;
}
 .courses {
    padding: 50px 30px;
    text-align: center;
}
.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}
.card {
    padding: 20px;
    background-color: #e2e8f0;
    border-radius: 8px;
    overflow: auto;
}
.register {
    background-color: #f8fafc;
    padding: 50px 20px;
    text-align: center;
}
form {
    max-width: 400px;
    margin: auto;
}
form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}
form button {
    background-color: #16a34a;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}
form button:hover {
    background-color: #15803d;
}
 .video {
    padding: 50px;
    text-align: center;
}
iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin-top: 20px;
}
footer {
    background-color: #1e293b;
    color: white;
    text-align: center;
    padding: 15px;
}
@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
}