body {
    background-color: #f1f5f9;
    font-family: Arial, sans-serif;
}
 
#card {
    background-color: white;
    width: 320px;
    padding: 1.5rem;
    margin: 5% auto;
    border-radius: 12px;
    text-align: center;
}
 
.name {
    color: blue;
    font-size: 2rem;
}

.role {
    color:  rgb(99, 102, 241);
    font-size: 1.2em;
}
 
.about {
    color: #1e293b;
    font-size: 14px;
    margin: 1em 0;
}
 
.skills-title {
    font-size: 1rem;
    margin-top: 1.2em;
}
 
ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    background-color: #e0e7ff;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
}
 
.btn {
    background-color:#4f46e5;
    color: white;
    border: none;
    padding: 0.6em 1.2em;
    margin-top: 1em;
    cursor: pointer;
}