body {
    background-color: #f8fafc;
    font-family: 'Poppins', sans-serif;
}
.card {
    background-color: white;
    width: 300px;
    padding: 20px;         
    margin: 100px auto;    
    border: 2px solid #6366f1;
    border-radius: 12px;
    text-align: center;
}
.icon {
    font-size: 40px;
    color: #6366f1;
    margin-bottom: 15px;
}
h2 {
    margin: 10px 0;
}
p {
    font-size: 14px;
    color: #475569;
    margin-bottom: 20px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #6366f1;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}